/.github/
/.vscode/
/node_modules/
/build/
/tmp/
.idea/*
/docs/

coverage
*.log
.gitlab-ci.yml

package-lock.json
/*.tgz
/tmp*
/mnt/
/package/

.editorconfig
src
tsconfig.json
.eslintrc.js
browser-test.html
.np-config.js
jest.config.js
yarn.lock
*.code-workspace
